::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

table > tbody > tr:hover {
    opacity: 0.5;
    background-color: rgb(255, 248, 220);
    cursor: pointer;
}

.selected-tr {
    background-color: rgb(255, 248, 207);
}

.cardCustom {
    margin: 5px;
}

.cardCustom:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.customTable {
    margin: 5px;
}

.logo {
    margin-right: 25px;
}

.logo:hover {
    cursor: pointer;
}

.cardDivImg{
    width: 100%;
    height:250px;
    margin: 5px;
    padding: 5px;
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


a:hover{
    text-decoration: none;
}